<a href="https://colab.research.google.com/github/haneefSaeed/Machine-Learning/blob/master/2_Pendas_Basics_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PENDAS BASICS**
For Data Processing and Analysis

In [4]:
import pandas as pd

import numpy as np

In [42]:
dataset = pd.read_csv( '/content/sample_data/california_housing_test.csv')

In [6]:
#displaying the dataframe
print(type(dataset))

print(dataset)

print(dataset.head())

<class 'pandas.core.frame.DataFrame'>
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [ ]:
#shape of the dataset
print(dataset.shape)

(3000, 9)

In [41]:
dataset.to_csv("dataset2.csv")

**OPERATION OF DATATFRAME**

In [ ]:
## Creating a data frame with random values

## Random values

randDf = pd.DataFrame(np.random.randint(1, 20, (10,10)))
print(randDf)

    0   1   2   3   4   5   6   7   8   9
0  10   8  17   4  17  14  12   5   5   5
1  16  14  13  12  19   4  12  13   3  12
2   6   4  11   3  15  13  18  17  15   1
3   6   9   5  13  14  11   4   5  17   9
4   4  11  16   9  11  19   4  19   4  10
5  19  17  17   7  19  17   4  13  16  18
6   2  18   7  15  18  14  13   8   2   4
7   2  16   8   7   9  10  19   9  10  18
8   3  15   1   1  12   7  17   1  13   2
9   3  19  12   8  15  14  10  14  11   1

In [ ]:
## finding the shape

randDf.shape

(2, 3)

In [ ]:
w## finding the first or last 5 row

randDf.head()

    0   1   2   3   4   5   6   7   8   9
0  10   8  17   4  17  14  12   5   5   5
1  16  14  13  12  19   4  12  13   3  12
2   6   4  11   3  15  13  18  17  15   1
3   6   9   5  13  14  11   4   5  17   9
4   4  11  16   9  11  19   4  19   4  10

In [ ]:
randDf.tail()

    0   1   2   3   4   5   6   7   8   9
5  19  17  17   7  19  17   4  13  16  18
6   2  18   7  15  18  14  13   8   2   4
7   2  16   8   7   9  10  19   9  10  18
8   3  15   1   1  12   7  17   1  13   2
9   3  19  12   8  15  14  10  14  11   1

In [43]:
# information about df

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
## missing values
dataset.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
dataset.value_counts('housing_median_age')

housing_median_age
52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
26.0     88
37.0     88
25.0     86
33.0     85
15.0     77
19.0     76
18.0     76
30.0     76
29.0     75
24.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
31.0     57
14.0     57
41.0     56
43.0     56
39.0     55
23.0     53
45.0     51
44.0     51
42.0     51
40.0     43
11.0     41
13.0     41
12.0     41
46.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: count, dtype: int64

In [ ]:
dataset.groupby('total_rooms').mean()

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value
total_rooms,,,,,,,,
6.0,-116.95,33.86,1.0,2.0,8.0,2.0,1.6250,55000.0
16.0,-117.12,32.66,52.0,4.0,8.0,3.0,1.1250,60000.0
18.0,-114.62,33.62,26.0,3.0,5.0,3.0,0.5360,275000.0
19.0,-121.04,37.67,16.0,19.0,166.0,9.0,0.5360,162500.0
21.0,-118.06,34.03,36.0,7.0,21.0,9.0,2.3750,175000.0
...,...,...,...,...,...,...,...,...
21988.0,-117.12,33.49,4.0,4055.0,8824.0,3252.0,3.9963,191100.0
23915.0,-117.27,33.15,4.0,4135.0,10877.0,3958.0,4.6357,244900.0
24121.0,-116.36,33.78,6.0,4522.0,4176.0,2221.0,3.3799,239300.0
27870.0,-121.53,38.48,5.0,5027.0,11935.0,4855.0,4.8811,212200.0
30450.0,-117.20,33.58,2.0,5033.0,9419.0,3197.0,4.5936,174300.0

**Statistical Operations**

In [ ]:
## Count the number of values

dataset.count()

longitude             3000
latitude              3000
housing_median_age    3000
total_rooms           3000
total_bedrooms        3000
population            3000
households            3000
median_income         3000
median_house_value    3000
dtype: int64

In [ ]:
## mean value colum wise
dataset.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [ ]:
## standard Deviation
dataset.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [ ]:
### Minimum or maximum (max) value
dataset.min()

longitude              -124.1800
latitude                 32.5600
housing_median_age        1.0000
total_rooms               6.0000
total_bedrooms            2.0000
population                5.0000
households                2.0000
median_income             0.4999
median_house_value    22500.0000
dtype: float64

In [7]:
## all statistics

dataset.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [9]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

Dataset Manipulation

In [45]:
## adding new column
dataset['pricelist'] = dataset['households']
print(dataset)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value  pricelist
0         1537.0       606.0         6.6085            344700.0      606.0
1          809.0       277.0         3.5990            176500.0      277.0
2         1484.0       495.0         5.7934            270500.0      495.0
3           49.0        11.0         6.1359            330000.0       11.0
4          850.0       237.0         2.9375             81700.0      237.0
...          ...         ...            ...                 ...        ...
2995      1258.0       607.0         1.1790            225000.0      607.0
2996      3496.0      1036.0         3.3906            237200.0     1036.0
2997       693.0       220.0         2.2895             62000.0      220.0
2998        46.0        14.0         3.2708            162500.0       14.0
2999       753.0       260.0         8.5608            500001.0      260.0

[3000 rows x 10 columns]

In [58]:
## removing a row

dataset.head()
dataset = dataset.drop(index = 0, axis = 0) ## axis 0 for row, axis 1 for column

In [35]:
dataset.head()
## -118 is removed

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,price,pricelist
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,606.0,606.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,277.0,277.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,495.0,495.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,11.0,11.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,237.0,237.0

In [53]:
## Dropping a column
dataset = dataset.drop(columns='pricelist' )

In [59]:
## print a speicif row

dataset.iloc[2] ## third row

longitude               -118.3600
latitude                  33.8200
housing_median_age        28.0000
total_rooms               67.0000
total_bedrooms            15.0000
population                49.0000
households                11.0000
median_income              6.1359
median_house_value    330000.0000
Name: 3, dtype: float64

In [67]:
## priting a specific column:
dataset.iloc[:, 1]

## printing range of rows in a column
dataset.iloc[0:4,1]

1    34.26
2    33.78
3    33.82
4    36.33
Name: latitude, dtype: float64

**Correlation between data**


*   Negative
*   Positive


For example number of rooms and price are positive correlation
and crime rate and price are negative correlation

In [69]:
## displays the correlation between columns
dataset.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.925018,-0.064280,0.050126,0.071018,0.111654,0.051207,-0.018091,-0.050182
latitude,-0.925018,1.000000,-0.025106,-0.039801,-0.068340,-0.117367,-0.068391,-0.072809,-0.138812
housing_median_age,-0.064280,-0.025106,1.000000,-0.367844,-0.323145,-0.299884,-0.305161,-0.144297,0.091493
total_rooms,0.050126,-0.039801,-0.367844,1.000000,0.937758,0.838893,0.914123,0.221045,0.160233
total_bedrooms,0.071018,-0.068340,-0.323145,0.937758,1.000000,0.856390,0.970757,0.023876,0.082172
population,0.111654,-0.117367,-0.299884,0.838893,0.856390,1.000000,0.895534,0.032307,-0.001245
households,0.051207,-0.068391,-0.305161,0.914123,0.970757,0.895534,1.000000,0.048484,0.100073
median_income,-0.018091,-0.072809,-0.144297,0.221045,0.023876,0.032307,0.048484,1.000000,0.672502
median_house_value,-0.050182,-0.138812,0.091493,0.160233,0.082172,-0.001245,0.100073,0.672502,1.000000

in above example, if total rooms increases, total bedrooms will increase and as longtitute increases latitute decreses, it help which columns are more significant in price change for example, very important topic.